<plugin name='post-code' version='1.0'>
  <author>Marc Palmer</author>
  <authorEmail>marc@anyware.co.uk</authorEmail>
  <title>Provides a service for getting lat/lon from UK postcodes and calculating distance between two postcode centres</title>
  <description>
    Postcode plugin provides the PostCodeService which you can use to calculate the lat/lon coordinates
    of UK postcodes using the free database embedded within it (from nearby.org.uk). The service also has
    a function for calculating the distance between two postcode centres. Over 10,000 postcode centres are
    supplied, but this is for postcode sectors not street-level information. The distances are calculated using
    the Haversine formula.
    </description>
  <documentation>http://grails.org/PostCode+Plugin</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>spring.resources</resource>
    <resource>UrlMappings</resource>
    <resource>PostCodeService</resource>
  </resources>
</plugin>