body {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
margin: 0;
padding: 0;

}
#header {
height: 228px;
background-color: #99CCCC;
background-image:url('../images/motifHeader1x228.png');
background-repeat:repeat-x;
}
#headerLogo {
height: 228px;
width:1024px;
background-color: #99CCCC;
background-image:url('../images/header1024x228.png');
background-repeat:repeat-y;
}
#searchField {
position:absolute;
height: 30px;
width:550px;
top:59px;
left:330px;
font-size:20pt;

}



#conteneur {
position: absolute;
width: 100%;
background-color:#FFFFFF;
background-image:url('../images/motifBack.png');
color:#171717;
}


* html #centre {
height:500px;
}

#centre {
background-color:#FFFFFF;
margin-left: 192px;
padding-left:20px;
margin-top:-80px;
min-height:500px;
}
#gauche {
position: absolute;
left:0;
width: 192px;
background-image:url('../images/motifMenu192x1.png');
}
#pied {
height: 30px;
background-color: #b7b7b7;
}

p {
padding:0;
margin:0;
}
.menugauche {
list-style-type: none;
margin: 0;
padding:0;
}
.menugauche li {
margin-bottom: 5px;
}
.menugauche a {
margin: 0 2px 0 10px;
color: #000000;
line-height:20px;
text-decoration: underline;
}
.menugauche a:hover {
text-decoration: none;
}
p {margin: 0 0 10px 0;}
